@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,wght@1,100&family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.contact_container {
  display: flex;
}
.members {
  background: #efefef;
  width: 100%;
  padding-top: 91px;
  padding-bottom: 111px;
}
.members h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  /* or 56px */
  color: #000000;
  margin-bottom: 78px;
}
.members_general {
  width: 791px;
  height: 451px;
  background: #ffffff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 0 3.5%;
}
.members_general_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  color: #000000;
  padding-top: 40px;
}
.members_general_account {
  display: flex;
  margin-top: 40px;
}
.members_general_account_avatar img {
  width: 190px;
  height: 169px;
}
.members_general_account_logo p {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 101.38%;
  /* or 30px */
  color: #000000;
  margin-top: 40px;
}
.members_general_account_logo img {
  width: 32px;
  height: 31px;
  margin-top: 32px;
}
.price {
  background: #9dc9c8;
  padding-top: 179px;
  padding-bottom: 185px;
  width: 100%;
}
.price h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  /* or 56px */
  color: #000000;
}
.price h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 101.38%;
  /* or 25px */
  color: #000000;
  margin-top: 54px;
  margin-bottom: 0;
}
.price_p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 101.38%;
  /* or 81px */
  color: #000000;
  margin-bottom: 75px;
}
.price_text {
  display: flex;
  width: 65%;
  justify-content: space-between;
}
.price_text_block h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 101.38%;
  /* or 25px */
  color: #000000;
  margin-bottom: 9px;
}
.price_text_block p {
  width: 294px;
  height: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 101.38%;
  /* or 18px */
  color: #000000;
}
.contact {
  background: #000000;
  padding-top: 60px;
  padding-bottom: 48px;
  display: flex;
  width: 100%;
}
.contact_logo {
  width: 70%;
}
.contact_logo_main img {
  width: 115px;
  height: 68px;
  margin-bottom: 30px;
}
.contact_logo_web {
  display: flex;
  width: 220px;
  justify-content: space-between;
}
.contact_logo_web img {
  width: 33px;
  height: 33px;
}
.contact_logo p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 101.38%;
  /* or 18px */
  color: #ffffff;
  margin-top: 147px;
}
.contact_number {
  width: 30%;
}
.contact_number_detail {
  display: flex;
}
.contact_number_detail:last-child {
  margin-top: 22px;
}
.contact_number_detail img {
  width: 27px;
  height: 27px;
  margin-right: 22px;
}
.contact_number_detail p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 101.38%;
  /* or 25px */
  color: #ffffff;
}

@media (max-width: 1279px) {
  .members {
    padding-top: 52px;
    padding-bottom: 111px;
  }
  .members h1 {
    font-size: 32px;
    margin-bottom: 78px;
  }
  .members_general {
    width: 458.12px;
    height: 261.2px;
    box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
    border-radius: 17.375px;
    padding: 0 3%;
  }
  .members_general_text {
    font-size: 12px;
    padding-top: 23px;
  }
  .members_general_account {
    display: flex;
    margin-top: 17px;
  }
  .members_general_account_avatar img {
    width: 110.04px;
    height: 97.88px;
  }
  .members_general_account_logo p {
    font-size: 17px;
    margin-top: 23px;
  }
  .members_general_account_logo img {
    width: 18.53px;
    height: 17.95px;
    margin-top: 18px;
  }
  .price {
    padding-top: 103px;
    padding-bottom: 115px;
  }
  .price h1 {
    font-size: 32px;
    line-height: 101.38%;
    /* or 56px */
  }
  .price h5 {
    font-size: 14px;
    margin-top: 31px;
  }
  .price_p {
    font-size: 46px;
    margin-bottom: 47px;
  }
  .price_text {
    width: 50%;
  }
  .price_text_block h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .price_text_block p {
    width: 170.28px;
    height: 40.54px;
    font-size: 10px;
  }
  .contact {
    padding-top: 29px;
    padding-bottom: 25px;
  }
  .contact_logo {
    width: 80%;
  }
  .contact_logo_main img {
    width: 66.6px;
    height: 39.38px;
    margin-bottom: 17px;
  }
  .contact_logo_web {
    width: 120px;
  }
  .contact_logo_web img {
    width: 19.11px;
    height: 19.11px;
  }
  .contact_logo p {
    font-size: 10px;
    margin-top: 84px;
  }
  .contact_number {
    width: 20%;
  }
  .contact_number_detail:last-child {
    margin-top: 14px;
  }
  .contact_number_detail img {
    width: 15.64px;
    height: 15.64px;
    margin-right: 12px;
  }
  .contact_number_detail p {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .members {
    padding-top: 42px;
    padding-bottom: 53px;
  }
  .members h1 {
    font-size: 26px;
    margin-bottom: 28px;
  }
  .members_general {
    width: 308px;
    height: 248px;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    padding: 0 5%;
  }
  .members_general_text {
    font-size: 10px;
    padding-top: 18px;
  }
  .members_general_account {
    margin-top: 13px;
  }
  .members_general_account_avatar img {
    width: 80px;
    height: 84px;
  }
  .members_general_account_logo p {
    font-size: 14px;
    margin-top: 17px;
  }
  .members_general_account_logo img {
    width: 14.91px;
    height: 17.2px;
    margin-top: 15px;
  }
  .price {
    padding-top: 62px;
    padding-bottom: 63px;
  }
  .price h1 {
    font-size: 26px;
  }
  .price h5 {
    font-size: 12px;
    margin-top: 31px;
  }
  .price_p {
    font-size: 37px;
    margin-bottom: 35px;
  }
  .price_text {
    width: 100%;
  }
  .price_text_block h3 {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .price_text_block p {
    width: 138px;
    height: 47px;
    font-size: 10px;
  }
  .contact {
    padding-top: 23px;
    padding-bottom: 10px;
  }
  .contact_container {
    position: relative;
    display: block;
  }
  .contact_logo {
    width: 100%;
  }
  .contact_logo_main img {
    width: 53.59px;
    height: 31.69px;
    margin-bottom: 14px;
  }
  .contact_logo_web {
    width: 100px;
  }
  .contact_logo_web img {
    width: 15.38px;
    height: 15.38px;
  }
  .contact_logo p {
    font-size: 10px;
    margin-top: 138px;
  }
  .contact_number {
    position: absolute;
    bottom: 78px;
    width: 100%;
  }
  .contact_number_detail:last-child {
    margin-top: 14px;
  }
  .contact_number_detail img {
    width: 12.58px;
    height: 12.58px;
    margin-right: 10px;
  }
  .contact_number_detail p {
    font-size: 12px;
  }
}
@media (max-width: 1279px) {
  .members_general {
    width: 100%;
    height: 100%;
  }
}
